In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [4]:
dataset=dataset.drop("User ID",axis=1)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [5]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [6]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
indep

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [7]:
dep=dataset[['Purchased']]
dep

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [8]:
dataset["Purchased"].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)
x_train,x_test,y_train,y_test

(     Age  EstimatedSalary  Gender_Male
 218   46            96000            0
 101   28            59000            1
 311   39            96000            1
 194   28            89000            1
 326   41            72000            1
 ..   ...              ...          ...
 323   48            30000            0
 192   29            43000            1
 117   36            52000            1
 47    27            54000            0
 172   26           118000            0

 [266 rows x 3 columns],      Age  EstimatedSalary  Gender_Male
 132   30            87000            1
 309   38            50000            0
 341   35            75000            1
 196   30            79000            0
 246   35            50000            0
 ..   ...              ...          ...
 168   29           148000            1
 150   26            15000            0
 393   60            42000            1
 66    24            19000            1
 240   42           149000            1

 [134 rows x 3 columns],      Purchased
 218          0
 101          0
 311          1
 194          0
 326          0
 ..         ...
 323          1
 192          0
 117          0
 47           0
 172          0

 [266 rows x 1 columns],      Purchased
 132          0
 309          0
 341          0
 196          0
 246          0
 ..         ...
 168          1
 150          0
 393          1
 66           0
 240          1

 [134 rows x 1 columns])

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [11]:
x_train,x_test

(array([[ 0.81203707,  0.7926083 , -0.99250926],
        [-0.96332069, -0.30625786,  1.00754728],
        [ 0.12162016,  0.7926083 ,  1.00754728],
        [-0.96332069,  0.5847147 ,  1.00754728],
        [ 0.31888214,  0.07983025,  1.00754728],
        [ 0.71340608, -1.28632769,  1.00754728],
        [-0.47016576, -0.00926701, -0.99250926],
        [-1.75236858,  0.3768211 , -0.99250926],
        [-0.66742773,  0.13922842,  1.00754728],
        [ 0.41751312,  0.31742293,  1.00754728],
        [-0.27290378,  0.07983025, -0.99250926],
        [-0.47016576,  2.36665983, -0.99250926],
        [ 0.22025115,  0.05013116,  1.00754728],
        [ 1.30519201,  2.27756258, -0.99250926],
        [ 0.81203707,  0.28772385,  1.00754728],
        [-0.27290378,  0.16892751,  1.00754728],
        [ 0.02298918, -0.54385055,  1.00754728],
        [-0.1742728 ,  0.16892751, -0.99250926],
        [-0.07564181,  0.25802476, -0.99250926],
        [ 0.02298918, -0.24685969,  1.00754728],
        [ 2.19287089,  1.14899733, -0.99250926],
        [-1.75236858,  0.3768211 , -0.99250926],
        [ 1.89697793,  0.13922842,  1.00754728],
        [ 0.41751312, -0.12806335,  1.00754728],
        [-1.16058266,  0.31742293,  1.00754728],
        [ 0.81203707,  1.4162891 ,  1.00754728],
        [-0.27290378, -0.24685969,  1.00754728],
        [-1.6537376 , -0.03896609, -0.99250926],
        [-0.96332069, -0.75174415, -0.99250926],
        [ 0.31888214,  0.52531653,  1.00754728],
        [-0.07564181, -1.07843409, -0.99250926],
        [-1.06195168,  0.61441379,  1.00754728],
        [ 0.12162016, -0.81114232,  1.00754728],
        [-0.96332069,  1.59448361,  1.00754728],
        [-0.66742773,  1.44598818, -0.99250926],
        [-1.25921365,  0.52531653,  1.00754728],
        [-0.27290378,  0.05013116, -0.99250926],
        [-0.07564181,  0.02043208,  1.00754728],
        [-0.27290378, -0.90023957,  1.00754728],
        [ 0.91066806, -1.37542494,  1.00754728],
        [-0.27290378,  2.30726166, -0.99250926],
        [ 1.00929905,  2.03996989, -0.99250926],
        [-1.16058266,  0.49561745,  1.00754728],
        [-1.25921365,  0.28772385,  1.00754728],
        [ 1.40382299,  2.03996989, -0.99250926],
        [ 1.30519201, -1.37542494,  1.00754728],
        [-0.27290378, -0.27655878, -0.99250926],
        [-0.47016576,  1.29749276, -0.99250926],
        [-0.76605872,  1.11929824,  1.00754728],
        [ 1.00929905, -1.07843409,  1.00754728],
        [ 0.31888214,  0.31742293, -0.99250926],
        [ 1.00929905,  0.7926083 , -0.99250926],
        [-0.66742773, -1.52392037,  1.00754728],
        [-0.66742773,  0.05013116, -0.99250926],
        [ 0.51614411,  1.77267812,  1.00754728],
        [ 2.0942399 ,  0.19862659, -0.99250926],
        [-1.94963056, -0.75174415, -0.99250926],
        [-0.1742728 ,  1.44598818,  1.00754728],
        [ 0.41751312,  0.61441379, -0.99250926],
        [ 0.91066806, -1.16753134, -0.99250926],
        [-1.16058266, -0.78144323, -0.99250926],
        [ 0.22025115,  0.25802476,  1.00754728],
        [ 0.81203707, -0.30625786,  1.00754728],
        [ 2.0942399 , -0.81114232, -0.99250926],
        [ 0.81203707,  0.13922842, -0.99250926],
        [-0.27290378,  0.64411287,  1.00754728],
        [-0.96332069, -0.30625786, -0.99250926],
        [ 0.22025115, -0.36565603,  1.00754728],
        [ 2.0942399 ,  2.18846532,  1.00754728],
        [ 1.89697793, -1.28632769, -0.99250926],
        [ 1.40382299, -0.92993866, -0.99250926],
        [ 0.91066806,  1.29749276, -0.99250926],
        [ 1.50245398,  2.18846532, -0.99250926],
        [-0.27290378, -1.2566286 ,  1.00754728],
        [ 1.99560891,  0.94110373, -0.99250926],
        [ 0.71340608, -0.72204506, -0.99250926],
        [-1.45647562,  0.3768211 , -0.99250926],
        [ 0.81203707, -1.37542494,  1.00754728],
        [ 0.41751312, -0.12806335,  1.00754728],
        [-0.96332069,  0.43621927, -0.99250926],
        [ 0.02298918, -0.30625786,  1.00754728],
        [-1.16058266,  0.43621927, -0.99250926],
        [-0.8646897 , -1.22692951, -0.99250926],
        [-0.07564181,  0.05013116, -0.99250926],
        [-1.55510661, -0.42505421, -0.99250926],
        [ 1.00929905, -1.01903592, -0.99250926],
        [ 1.10793003, -1.22692951,  1.00754728],
        [ 0.02298918, -0.12806335, -0.99250926],
        [-1.06195168, -1.55361946, -0.99250926],
        [ 0.81203707, -1.22692951,  1.00754728],
        [ 1.00929905,  2.12906715,  1.00754728],
        [-1.16058266, -1.55361946, -0.99250926],
        [-0.27290378,  0.82230739, -0.99250926],
        [ 0.12162016, -0.30625786, -0.99250926],
        [-1.35784464, -1.2566286 , -0.99250926],
        [-0.56879674, -1.52392037,  1.00754728],
        [ 0.81203707,  0.55501562,  1.00754728],
        [-0.27290378, -0.33595695,  1.00754728],
        [ 1.79834694, -0.27655878,  1.00754728],
        [ 0.91066806, -1.048735  ,  1.00754728],
        [ 0.22025115,  0.07983025, -0.99250926],
        [-0.56879674,  0.91140464,  1.00754728],
        [-1.85099957, -1.43482311, -0.99250926],
        [-1.25921365,  0.61441379,  1.00754728],
        [-0.27290378,  0.55501562,  1.00754728],
        [-0.96332069, -1.10813317,  1.00754728],
        [ 1.20656102, -1.4645222 , -0.99250926],
        [ 0.22025115, -0.30625786,  1.00754728],
        [ 1.20656102, -0.75174415, -0.99250926],
        [-0.27290378,  0.07983025,  1.00754728],
        [ 0.22025115,  2.15876624, -0.99250926],
        [ 0.81203707, -1.10813317, -0.99250926],
        [ 0.12162016,  0.05013116, -0.99250926],
        [-1.75236858,  0.13922842,  1.00754728],
        [-0.8646897 ,  0.16892751,  1.00754728],
        [-0.66742773,  0.19862659,  1.00754728],
        [ 0.91066806, -1.31602677,  1.00754728],
        [ 0.22025115, -0.24685969,  1.00754728],
        [-0.37153477,  1.26779367,  1.00754728],
        [ 0.02298918,  0.31742293, -0.99250926],
        [ 0.41751312,  0.16892751, -0.99250926],
        [ 0.91066806, -0.66264689, -0.99250926],
        [ 0.12162016,  0.16892751, -0.99250926],
        [-1.85099957, -1.31602677,  1.00754728],
        [-0.07564181,  0.31742293, -0.99250926],
        [-0.1742728 , -0.27655878,  1.00754728],
        [ 0.31888214, -0.51415146,  1.00754728],
        [-0.1742728 ,  1.65388178,  1.00754728],
        [ 1.00929905, -1.19723043, -0.99250926],
        [-0.1742728 ,  1.68358087, -0.99250926],
        [ 1.30519201,  1.92117355, -0.99250926],
        [-1.06195168, -0.36565603, -0.99250926],
        [ 0.02298918,  0.05013116,  1.00754728],
        [ 0.12162016, -0.24685969, -0.99250926],
        [-1.55510661, -1.2566286 , -0.99250926],
        [-0.47016576, -0.27655878, -0.99250926],
        [ 1.00929905,  0.13922842,  1.00754728],
        [ 1.99560891, -1.37542494, -0.99250926],
        [ 1.50245398,  0.07983025,  1.00754728],
        [-0.56879674,  1.4162891 , -0.99250926],
        [ 1.60108497,  0.02043208,  1.00754728],
        [-0.76605872,  0.31742293,  1.00754728],
        [ 1.99560891,  0.76290922, -0.99250926],
        [-1.16058266, -0.51415146, -0.99250926],
        [ 0.71340608,  0.28772385,  1.00754728],
        [-1.35784464, -0.42505421,  1.00754728],
        [ 0.22025115,  0.16892751,  1.00754728],
        [-0.47016576, -1.22692951, -0.99250926],
        [ 0.6147751 ,  2.06966898, -0.99250926],
        [-1.55510661, -1.52392037,  1.00754728],
        [-0.47016576, -0.54385055, -0.99250926],
        [ 0.51614411,  1.89147447, -0.99250926],
        [-1.35784464, -1.10813317, -0.99250926],
        [ 0.81203707, -1.40512403, -0.99250926],
        [-0.27290378, -0.42505421,  1.00754728],
        [ 1.60108497,  1.03020099, -0.99250926],
        [ 1.00929905,  1.47568727, -0.99250926],
        [-0.27290378, -0.48445238,  1.00754728],
        [-0.07564181,  2.21816441,  1.00754728],
        [-1.45647562, -0.09836426, -0.99250926],
        [-0.07564181,  2.01027081, -0.99250926],
        [-0.66742773, -0.33595695,  1.00754728],
        [-0.47016576, -0.8408414 , -0.99250926],
        [ 0.71340608, -1.40512403, -0.99250926],
        [-0.76605872, -1.61301763,  1.00754728],
        [-1.85099957, -1.49422128,  1.00754728],
        [ 1.10793003,  0.13922842,  1.00754728],
        [ 0.12162016,  1.56478452,  1.00754728],
        [-0.27290378,  0.10952933,  1.00754728],
        [ 0.12162016,  0.05013116,  1.00754728],
        [-1.35784464, -1.37542494,  1.00754728],
        [ 0.31888214,  0.07983025, -0.99250926],
        [-0.8646897 ,  0.40652019, -0.99250926],
        [ 1.60108497, -1.28632769, -0.99250926],
        [-0.27290378, -0.75174415, -0.99250926],
        [-0.07564181,  0.16892751,  1.00754728],
        [-0.8646897 , -0.66264689, -0.99250926],
        [-0.66742773, -0.03896609, -0.99250926],
        [ 0.41751312, -0.45475329,  1.00754728],
        [-0.76605872,  1.95087264,  1.00754728],
        [ 1.40382299,  1.32719184, -0.99250926],
        [ 1.20656102, -0.98933683, -0.99250926],
        [ 1.79834694,  1.89147447,  1.00754728],
        [-0.8646897 , -0.24685969,  1.00754728],
        [-0.76605872,  0.5847147 ,  1.00754728],
        [-1.16058266, -1.58331854,  1.00754728],
        [-0.47016576, -1.13783226,  1.00754728],
        [ 0.31888214,  0.07983025, -0.99250926],
        [-0.1742728 , -1.07843409,  1.00754728],
        [ 1.69971595,  1.65388178, -0.99250926],
        [ 1.00929905,  1.83207629, -0.99250926],
        [ 0.31888214,  0.05013116, -0.99250926],
        [-0.76605872, -0.21716061, -0.99250926],
        [-0.07564181,  0.07983025,  1.00754728],
        [ 0.31888214, -0.18746152, -0.99250926],
        [ 1.99560891, -0.66264689, -0.99250926],
        [-0.76605872,  1.38659001, -0.99250926],
        [-1.75236858, -0.60324872,  1.00754728],
        [-0.07564181,  0.13922842,  1.00754728],
        [ 0.31888214, -0.30625786,  1.00754728],
        [ 1.10793003,  0.5847147 ,  1.00754728],
        [-0.96332069,  0.28772385,  1.00754728],
        [ 1.50245398,  0.3768211 , -0.99250926],
        [ 0.22025115, -0.36565603,  1.00754728],
        [ 2.19287089, -1.048735  ,  1.00754728],
        [-0.27290378,  1.14899733,  1.00754728],
        [-1.6537376 ,  0.07983025,  1.00754728],
        [ 0.02298918,  0.05013116,  1.00754728],
        [ 0.12162016,  1.08959916,  1.00754728],
        [-0.07564181, -0.36565603, -0.99250926],
        [-1.16058266,  0.07983025, -0.99250926],
        [-0.27290378, -1.37542494, -0.99250926],
        [ 1.60108497,  1.14899733, -0.99250926],
        [-0.76605872, -1.55361946,  1.00754728],
        [ 0.12162016,  1.92117355,  1.00754728],
        [-0.8646897 , -0.78144323,  1.00754728],
        [-0.47016576, -0.78144323,  1.00754728],
        [-0.27290378, -0.92993866,  1.00754728],
        [ 0.31888214, -0.72204506,  1.00754728],
        [ 0.31888214,  0.07983025, -0.99250926],
        [ 0.12162016,  1.92117355, -0.99250926],
        [-1.06195168,  2.01027081, -0.99250926],
        [-1.6537376 , -1.58331854, -0.99250926],
        [-1.16058266, -1.10813317,  1.00754728],
        [-0.66742773, -0.09836426,  1.00754728],
        [ 0.12162016,  0.10952933, -0.99250926],
        [ 0.31888214,  0.28772385,  1.00754728],
        [ 0.91066806, -0.57354963, -0.99250926],
        [ 0.31888214, -1.16753134, -0.99250926],
        [-0.07564181,  0.70351104, -0.99250926],
        [ 2.19287089, -0.69234597, -0.99250926],
        [-1.25921365, -1.40512403,  1.00754728],
        [-0.96332069, -0.95963774, -0.99250926],
        [ 0.02298918, -0.42505421, -0.99250926],
        [-0.1742728 , -0.45475329, -0.99250926],
        [-1.75236858, -0.98933683, -0.99250926],
        [ 1.79834694,  1.03020099, -0.99250926],
        [ 0.22025115, -0.36565603,  1.00754728],
        [ 0.41751312,  1.14899733, -0.99250926],
        [-1.75236858, -1.37542494, -0.99250926],
        [ 0.22025115, -0.12806335,  1.00754728],
        [ 0.91066806, -1.4645222 ,  1.00754728],
        [-1.94963056,  0.49561745, -0.99250926],
        [-0.27290378,  0.28772385,  1.00754728],
        [ 1.89697793, -1.07843409, -0.99250926],
        [-0.37153477,  0.07983025, -0.99250926],
        [ 1.10793003, -0.90023957, -0.99250926],
        [-1.06195168, -1.13783226, -0.99250926],
        [-1.85099957,  0.02043208,  1.00754728],
        [ 0.12162016,  0.28772385, -0.99250926],
        [-1.16058266,  0.34712202,  1.00754728],
        [-1.25921365,  0.31742293,  1.00754728],
        [-0.96332069,  0.46591836, -0.99250926],
        [ 1.69971595, -0.90023957,  1.00754728],
        [ 1.20656102,  0.55501562, -0.99250926],
        [ 1.10793003,  0.55501562,  1.00754728],
        [ 1.40382299,  2.39635892,  1.00754728],
        [-0.27290378, -0.12806335, -0.99250926],
        [ 0.41751312, -0.45475329,  1.00754728],
        [-0.37153477, -0.78144323,  1.00754728],
        [-0.07564181, -0.51415146,  1.00754728],
        [ 1.00929905, -1.16753134, -0.99250926],
        [-0.8646897 , -0.78144323,  1.00754728],
        [-0.1742728 , -0.51415146,  1.00754728],
        [-1.06195168, -0.45475329, -0.99250926],
        [-1.16058266,  1.44598818, -0.99250926]]),
 array([[-0.76605872,  0.52531653,  1.00754728],
        [ 0.02298918, -0.57354963, -0.99250926],
        [-0.27290378,  0.16892751,  1.00754728],
        [-0.76605872,  0.28772385, -0.99250926],
        [-0.27290378, -0.57354963, -0.99250926],
        [-1.06195168, -1.4645222 ,  1.00754728],
        [-0.66742773, -1.61301763, -0.99250926],
        [-0.1742728 ,  2.21816441,  1.00754728],
        [-1.94963056, -0.03896609, -0.99250926],
        [ 0.91066806, -0.78144323,  1.00754728],
        [-0.76605872, -0.60324872,  1.00754728],
        [-0.96332069, -0.42505421, -0.99250926],
        [-0.07564181, -0.42505421,  1.00754728],
        [ 0.12162016,  0.22832568,  1.00754728],
        [-1.75236858,  0.49561745,  1.00754728],
        [-0.56879674,  1.4162891 , -0.99250926],
        [-0.07564181,  0.22832568,  1.00754728],
        [-1.85099957,  0.46591836,  1.00754728],
        [ 1.69971595,  1.80237721, -0.99250926],
        [-0.27290378, -1.40512403,  1.00754728],
        [-0.27290378, -0.66264689, -0.99250926],
        [ 0.91066806,  2.21816441, -0.99250926],
        [ 0.31888214, -0.54385055, -0.99250926],
        [ 0.91066806,  1.05990007,  1.00754728],
        [-1.45647562, -1.22692951, -0.99250926],
        [ 1.10793003,  2.12906715, -0.99250926],
        [-0.96332069,  0.52531653, -0.99250926],
        [-0.8646897 ,  0.31742293,  1.00754728],
        [-0.07564181, -0.21716061, -0.99250926],
        [-0.56879674,  0.49561745, -0.99250926],
        [-1.6537376 ,  0.55501562,  1.00754728],
        [-0.07564181,  0.28772385,  1.00754728],
        [ 1.89697793, -0.27655878,  1.00754728],
        [-0.07564181, -0.48445238,  1.00754728],
        [-1.35784464, -0.33595695,  1.00754728],
        [-1.94963056, -0.51415146,  1.00754728],
        [-1.55510661,  0.34712202,  1.00754728],
        [-0.37153477, -0.78144323, -0.99250926],
        [-0.66742773, -1.048735  , -0.99250926],
        [ 1.10793003, -0.98933683, -0.99250926],
        [-1.06195168,  0.55501562,  1.00754728],
        [ 0.31888214, -0.51415146,  1.00754728],
        [-1.06195168,  0.43621927, -0.99250926],
        [-0.27290378, -1.4645222 ,  1.00754728],
        [ 0.51614411,  1.26779367, -0.99250926],
        [-1.06195168, -0.33595695, -0.99250926],
        [-0.07564181,  0.31742293, -0.99250926],
        [ 1.40382299,  0.61441379, -0.99250926],
        [-1.16058266, -1.16753134,  1.00754728],
        [ 1.10793003,  0.49561745,  1.00754728],
        [ 1.89697793,  1.56478452, -0.99250926],
        [-0.37153477, -1.31602677, -0.99250926],
        [-0.27290378, -0.36565603, -0.99250926],
        [-0.37153477,  1.35689093,  1.00754728],
        [ 2.0942399 ,  0.55501562, -0.99250926],
        [ 0.71340608, -1.10813317,  1.00754728],
        [-0.8646897 ,  0.40652019, -0.99250926],
        [-1.16058266,  0.31742293, -0.99250926],
        [ 1.10793003, -1.22692951,  1.00754728],
        [-1.45647562, -1.4645222 ,  1.00754728],
        [-0.56879674, -1.52392037,  1.00754728],
        [ 2.19287089, -0.81114232,  1.00754728],
        [-1.85099957,  0.19862659,  1.00754728],
        [-0.1742728 ,  0.88170556,  1.00754728],
        [-1.85099957, -1.28632769, -0.99250926],
        [ 2.19287089,  0.40652019,  1.00754728],
        [-1.35784464,  0.5847147 , -0.99250926],
        [-1.06195168, -0.33595695,  1.00754728],
        [ 0.22025115, -0.66264689,  1.00754728],
        [ 0.41751312,  0.02043208, -0.99250926],
        [-0.56879674,  2.39635892, -0.99250926],
        [-0.27290378,  0.22832568, -0.99250926],
        [-1.55510661, -0.18746152, -0.99250926],
        [ 0.71340608, -1.40512403,  1.00754728],
        [-1.06195168,  0.5847147 ,  1.00754728],
        [-1.94963056,  0.3768211 ,  1.00754728],
        [ 0.41751312,  0.28772385, -0.99250926],
        [ 0.22025115, -0.27655878, -0.99250926],
        [ 1.50245398, -1.048735  , -0.99250926],
        [ 0.91066806,  1.11929824, -0.99250926],
        [ 1.99560891,  2.21816441,  1.00754728],
        [ 2.0942399 ,  0.40652019, -0.99250926],
        [-1.35784464, -0.42505421, -0.99250926],
        [-1.16058266, -1.01903592, -0.99250926],
        [ 1.99560891, -0.92993866, -0.99250926],
        [ 0.41751312,  0.31742293, -0.99250926],
        [ 0.22025115,  0.16892751, -0.99250926],
        [ 2.0942399 ,  1.80237721,  1.00754728],
        [ 0.81203707, -0.8408414 , -0.99250926],
        [ 0.31888214, -0.27655878, -0.99250926],
        [ 0.41751312, -0.15776244,  1.00754728],
        [-0.07564181,  2.27756258, -0.99250926],
        [-1.45647562, -0.6329478 , -0.99250926],
        [-1.25921365, -1.07843409,  1.00754728],
        [-1.35784464,  0.43621927,  1.00754728],
        [-1.06195168,  0.7926083 , -0.99250926],
        [-1.45647562, -0.18746152,  1.00754728],
        [ 1.00929905, -1.07843409,  1.00754728],
        [ 1.00929905,  0.61441379,  1.00754728],
        [ 0.41751312,  1.03020099,  1.00754728],
        [ 0.6147751 , -0.90023957, -0.99250926],
        [-0.56879674,  1.50538635,  1.00754728],
        [ 0.02298918, -0.57354963, -0.99250926],
        [-0.56879674,  1.95087264, -0.99250926],
        [ 1.40382299, -1.43482311, -0.99250926],
        [ 1.50245398,  1.03020099, -0.99250926],
        [ 0.12162016, -0.81114232,  1.00754728],
        [ 0.02298918, -0.24685969,  1.00754728],
        [-0.1742728 , -0.57354963, -0.99250926],
        [-0.1742728 , -0.18746152, -0.99250926],
        [-0.27290378, -1.31602677, -0.99250926],
        [-0.27290378, -0.57354963,  1.00754728],
        [ 0.41751312,  0.10952933,  1.00754728],
        [ 0.91066806, -0.60324872, -0.99250926],
        [ 2.0942399 , -1.19723043, -0.99250926],
        [ 1.10793003, -0.12806335,  1.00754728],
        [ 0.71340608,  1.83207629, -0.99250926],
        [-0.66742773,  0.5847147 , -0.99250926],
        [ 0.81203707,  0.3768211 , -0.99250926],
        [ 0.91066806, -0.54385055, -0.99250926],
        [-1.16058266, -1.61301763,  1.00754728],
        [ 2.19287089,  0.97080281,  1.00754728],
        [ 0.02298918,  1.26779367, -0.99250926],
        [ 0.22025115,  1.11929824,  1.00754728],
        [ 0.41751312, -0.48445238, -0.99250926],
        [-0.27290378, -0.30625786,  1.00754728],
        [ 1.00929905, -0.8408414 ,  1.00754728],
        [ 1.00929905,  1.92117355, -0.99250926],
        [ 0.02298918,  1.29749276, -0.99250926],
        [-0.8646897 ,  2.33696075,  1.00754728],
        [-1.16058266, -1.61301763, -0.99250926],
        [ 2.19287089, -0.81114232,  1.00754728],
        [-1.35784464, -1.49422128,  1.00754728],
        [ 0.41751312,  2.36665983,  1.00754728]]))

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':['gini','entropy'],
           'max_features':['auto','sqtr','log2'],
           'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
20 fits failed out of a total of 60.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
20 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 282, in fit
    "Invalid value for max_features. "
ValueError: Invalid value for max_features. Allowed string values are 'auto', 'sqrt' or 'log2'.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.8331277  0.82276968        nan        nan 0.86035252 0.82654883
 0.82184166 0.8000856         nan        nan 0.84986632 0.84579417]
  category=UserWarning,

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqtr', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [25]:
re=grid.cv_results_
grid_predictions=grid.predict(x_test)
grid_predictions

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1], dtype=int64)

In [26]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predictions)
print("Confusion Matrix:\n",cm)

Confusion Matrix:
 [[78  7]
 [ 8 41]]

In [28]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predictions)
print("classification_report:\n",clf_report)

classification_report:
               precision    recall  f1-score   support

           0       0.91      0.92      0.91        85
           1       0.85      0.84      0.85        49

    accuracy                           0.89       134
   macro avg       0.88      0.88      0.88       134
weighted avg       0.89      0.89      0.89       134

In [29]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter{}:\n".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter{'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'}:
 0.88781000045891

In [30]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.8771908763505402

In [34]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007540,0.003469,0.001602,0.000801,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.799620,0.852030,0.814409,0.832483,0.867097,0.833128,0.024433,4
1,0.003750,0.000757,0.001994,0.000892,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.847141,0.793754,0.758030,0.813179,0.901744,0.822770,0.048900,6
2,0.003601,0.000793,0.000000,0.000000,gini,sqtr,best,"{'criterion': 'gini', 'max_features': 'sqtr', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
3,0.003337,0.006157,0.000000,0.000000,gini,sqtr,random,"{'criterion': 'gini', 'max_features': 'sqtr', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
4,0.000000,0.000000,0.000000,0.000000,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.808927,0.907177,0.795256,0.886792,0.903610,0.860353,0.048260,1
5,0.006249,0.007653,0.000000,0.000000,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.808927,0.773585,0.778067,0.905069,0.867097,0.826549,0.051528,5
6,0.003121,0.006242,0.000000,0.000000,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.826263,0.828959,0.777291,0.906166,0.770530,0.821842,0.048577,7
7,0.000000,0.000000,0.003124,0.006248,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.770712,0.815037,0.735849,0.793565,0.885265,0.800086,0.050022,8
8,0.003125,0.006249,0.000000,0.000000,entropy,sqtr,best,"{'criterion': 'entropy', 'max_features': 'sqtr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
9,0.003128,0.006255,0.000000,0.000000,entropy,sqtr,random,"{'criterion': 'entropy', 'max_features': 'sqtr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
10,0.006249,0.007653,0.000000,0.000000,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.847141,0.888107,0.777291,0.851527,0.885265,0.849866,0.039982,2
11,0.000000,0.000000,0.003121,0.006242,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.808927,0.852030,0.775815,0.885265,0.906935,0.845794,0.048148,3

In [36]:
print(grid.best_params_)

{'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'}

In [37]:
age_input=float(input('Age input:'))
Salary_input=float(input('Salary:'))
gender_male_input=int(input("gender male 0 or 1:"))

Age input:40
Salary:100000
gender male 0 or 1:0

In [38]:
Future_prediction=grid.predict([[age_input,Salary_input,gender_male_input]])
print("Future_Prediction={}".format(Future_prediction))

Future_Prediction=[1]